.content.connect__profile {
    position: relative;
    display: grid;
    grid-template-columns: 250px auto;

    & .left {
        position: relative;
        left: 0;
        box-shadow: 0px 0px 15px $gray-light;
        z-index: 0;
        width: 250px;
        background-color: $white;

        .left__position {
            position: fixed;
            height: 100vh;
            bottom: 0;
            background-color: #fff;
            width: 250px;
            display: flex;
            flex-direction: column;
            padding: 0;
            justify-content: center;
        }

        &__block {
            margin-top: 1rem;

            & .title__profile {
                font-size: 1.5rem;
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    border: 1px solid #222;
                    border-top: none;
                    border-left: none;
                    width: 8px;
                    height: 8px;
                    right: 20px;
                    top: 50%;
                    transform: translateY(-50%) rotate(45deg);
                }
            }

            & .list__profile {
                list-style: none;
                padding: 0;

                & .link__profile {
                    color: $dark;
                    text-decoration: none;
                    padding: .6rem 1rem .6rem 1rem;
                    display: inline-block;
                    font-size: 1.3rem;
                    width: 100%;
                    transition: .3s;
                    border-left: 3px solid transparent;

                    &:hover {
                        background-color: rgba(38, 174, 97, 0.1);
                        color: $green;
                        padding-left: 2rem;
                        border-left: 3px solid;
                    }

                    & .notification {
                        width: 20px;
                        height: 20px;
                        background-color: $green;
                        color: #fff;
                        border-radius: 50%;
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 1rem;
                        padding: 10px;
                    }
                }
            }
        }
    }

    & .right {
        background-color: $light;
        padding-top: 10rem;

        & .title__content__profile {
            font-size: 2.3rem;
            font-weight: 400;
        }

        & .link__home {
            font-size: 1.4rem;
            margin-bottom: 4rem;

            a {
                color: $dark;
                text-decoration: none;

                i {
                    font-size: 1rem;
                }
            }
        }

        & .profile_details {
            box-shadow: 0px 0px 10px rgba($color: $gray-light, $alpha: .6);
            border-radius: .5rem;

            .title__detail {
                font-size: 1.6rem;
                font-weight: 500;
                margin: 0;
                padding: 2.5rem;
                border-radius: .3rem .3rem 0 0;
                border-bottom: 1px solid $light;
            }

            & .form__block {
                .password__safe {
                    padding: 2rem;
                    font-size: 1.4rem;
                    color: $blue-dark;
                    background-color: rgba($color: $info, $alpha: .4);
                    border-radius: .3rem;
                    margin-bottom: 2rem;
                }

                & .data__profile {
                    margin-bottom: 2rem;

                    & label,
                    span {
                        font-size: 1.5rem;
                        font-weight: 500;
                        margin-bottom: 1rem;
                    }

                    & input[type=file] {
                        display: none;
                    }

                    & input,
                    textarea {
                        display: inline-block;
                        width: 100%;
                        padding: .7rem 1rem;
                        outline: none;
                        font-size: 1.3rem;
                        resize: none;
                    }

                    & img {
                        transition: .2s;
                        border-radius: 100rem;

                        &:hover {
                            transform: scale(1.05);
                        }
                    }
                }
            }
        }
    }
}

.label_cursor {
    cursor: pointer;
    display: inline-block;
}

.content.connect__profile .left__block .list__profile .link__profile.color__green {
    color: $green;
    padding-left: 2rem;
    background-color: rgba(38, 174, 97, 0.1);
    border-left: 3px solid;
}

body.position_header .header .navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    background-color: $white;
}

.profile_details.bookmark_detail {
    & .table {
        border-radius: .5rem;
        overflow: hidden;

        & .table-dark {
            & th {
                padding: 1.5rem;
                font-weight: 500;
                border-right: 1px solid $gray;
            }
        }

        & tbody {
            & td {
                padding: 3rem 1.5rem;

                & a {
                    color: $dark;
                    text-decoration: none;
                    font-weight: 500;
                }
            }

            & tr:nth-child(even) {
                background-color: #f9f9f9;
            }
        }
    }
}

.flex {
    .data__profile {
        label {
            font-size: 1.5rem;
            display: inline-block;
            font-weight: 600;
            color: $dark;
            margin-bottom: 1rem;
        }

        & .chosen-container {
            background-color: $white-light;
            border: 1px solid $light;
            padding: 1.2rem 0;
            height: 50px;
            border-radius: .3rem;
            max-height: 50px;
            font-size: 1.3rem;

            & a.chosen-single {
                & span {
                    font-size: 1.3rem !important;
                }
            }
        }

        & input {
            border: 1px solid $light;
            padding: 1.2rem .5rem !important;
            background-color: $white-light;
            border-radius: .3rem;
            max-height: 50px;
            height: 50px;
            font-size: 1.3rem;
        }

        .border__input {
            padding: 2rem;
            border: 1px solid $light;
            border-radius: .3rem;

            .data__profile--detail {
                border-radius: 0.3rem;
                position: relative;
                padding: 3rem;
                padding-top: 5rem;

                .close__card {
                    position: absolute;
                    width: 30px;
                    height: 30px;
                    top: 0;
                    right: 0;
                    background-color: rgba($color: $red, $alpha: .3);
                    border-radius: .2rem;
                    color: red;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                }

                .mb-4 {

                    input,
                    textarea {
                        background-color: $white;
                        border: 1px solid $light;
                        display: inline-block;
                        width: 100%;
                        outline: none;
                        font-size: 1.3rem;
                    }

                    label {
                        font-weight: 400 !important;
                        font-size: 1.2rem !important;
                    }
                }
            }
        }
    }

    .data__profile.avt {
        & label {
            display: block;
            width: 100%;
            padding: 2rem;
            border: 1px solid $light;
            border-radius: .3rem;

            & span {
                display: inline-block;
                padding: 1.2rem 2.5rem;
                background-color: $light;
                border-radius: 0.3rem;
                font-weight: 400 !important;
                color: $gray;
            }

            & img {
                margin-left: 2rem;
            }
        }
    }
}

.input__profile {
    & input {
        border: 1px solid $light;
        padding: 1.2rem .5rem !important;
        background-color: $white-light;
        border-radius: .3rem;
        max-height: 50px;
        height: 50px;
        font-size: 1.3rem;
    }
}

.note-editor.note-frame .note-editing-area .note-codable {
    display: none !important;
}

.chosen-container-multi .chosen-choices {
    border: none;
    background-color: transparent;
    background-image: none;
    box-shadow: none;
}

.note-editing-area {
    font-size: 1.5rem;
}

.experience-content {
    .bg-white {
        padding: 1rem 1.5rem;

        .experience-title {
            font-size: 1.35rem;
            font-weight: 500;
            width: 40%;
        }

        .experience-name {
            font-size: 1.35rem;
            margin-left: 1.5rem;
            width: 60%;
        }
    }
}

.line {
    background-color: $gray-light;
    width: 95%;
    margin: 0 auto;
}

.cv__block {
    padding: 5rem;
    background-color: $white-light;
    font-family: 'Roboto', sans-serif;

    .container {
        border-radius: 1rem;
        overflow: hidden;
        box-shadow: 0px 0px 20px $gray-light;

        .cv__left {
            .bg__linner__gradient {
                padding: 3rem;
                align-items: center;
                background: linear-gradient(45deg, #ecf8fd, $white);

                .cv__avatar {
                    width: 30%;

                    & img {
                        border-radius: 4rem .5rem 4rem .5rem;
                    }
                }

                .cv__list {
                    list-style: none;
                    margin-left: 1rem;

                    .cv__item {
                        font-size: 1.4rem;
                        margin-bottom: .5rem;
                        color: $gray;
                        letter-spacing: 1.2px;

                        & i {
                            padding-right: 1rem;
                            width: 25px;
                        }
                    }
                }
            }

            .cv__detail {
                padding: 3rem;

                & .cv__item {
                    margin-bottom: 4rem;

                    & .cv__title {
                        font-size: 1.8rem;
                        font-weight: 600;
                    }

                    & .cv__job__detail {
                        padding-left: 2.5rem;
                        position: relative;

                        &::before {
                            width: 1px;
                            height: 100%;
                            position: absolute;
                            left: 8.48px;
                            top: 10px;
                            content: "";
                            background-color: $gray;
                        }

                        .date_job {
                            position: relative;
                            font-size: 1.3rem;
                            color: $gray;
                            margin: 0;

                            &::before {
                                content: '';
                                position: absolute;
                                top: 50%;
                                left: -20px;
                                width: 8px;
                                height: 8px;
                                border: 1px solid $gray;
                                transform: translateY(-50%) rotate(45deg);
                                z-index: 1;
                                background-color: $white;
                            }
                        }

                        .job__title {
                            font-size: 1.6rem;
                            letter-spacing: 1.1px;
                            font-weight: 600;
                            border-left: 2px solid $gray;
                            color: $dark;
                            padding-left: 1rem;
                        }

                        .position__job {
                            font-size: 1.5rem;
                            font-weight: 600;
                            color: $dark;
                        }

                        .list__detail {
                            .item__detail {
                                font-size: 1.4rem;
                                margin-bottom: 0.5rem;
                                line-height: 1.5;
                            }
                        }
                    }
                }
            }
        }

        .cv__right {
            padding: 3rem;

            .name__title {
                font-size: 4rem;
                margin-bottom: .5rem;
            }

            .job__application {
                font-size: 1.8rem;
                color: $gray;
                font-weight: 300;
                margin-bottom: .5rem;
                display: inline-block;
            }

            .cv__title {
                font-size: 1.8rem;
                font-weight: 600;
            }

            .career__goals {
                font-size: 1.4rem;
            }

            .language {
                position: relative;
                padding-bottom: 1rem;
                margin-left: 2rem;

                .slider_line {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 0;
                    height: 5px;
                    background-color: $dark;
                }

                .slider {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    -webkit-appearance: none;
                    width: 100%;
                    height: 5px;
                    background-color: transparent;
                    outline: none;
                    opacity: 0.7;
                    -webkit-transition: .2s;
                    transition: opacity .2s;
                    border: 1px solid $dark;
                    border-radius: 1px;
                }

                .slider::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    appearance: none;
                    width: 5px;
                    height: 15px;
                    background: $dark;
                    cursor: pointer;
                }

                & label {
                    font-size: 1.4rem;
                }
            }

            .cv__item {
                margin-bottom: 4rem;

                & .cv__title {
                    font-size: 1.8rem;
                    font-weight: 600;
                }

                & .cv__job__detail {
                    padding-left: 2.5rem;
                    position: relative;

                    &::before {
                        width: 1px;
                        height: 100%;
                        position: absolute;
                        left: 8.48px;
                        top: 10px;
                        content: "";
                        background-color: $gray;
                    }

                    .date_job {
                        position: relative;
                        font-size: 1.3rem;
                        color: $gray;
                        margin: 0;

                        &::before {
                            content: '';
                            position: absolute;
                            top: 50%;
                            left: -20px;
                            width: 8px;
                            height: 8px;
                            border: 1px solid $gray;
                            transform: translateY(-50%) rotate(45deg);
                            z-index: 1;
                            background-color: $white;
                        }
                    }

                    .job__title {
                        font-size: 1.6rem;
                        letter-spacing: 1.1px;
                        font-weight: 600;
                        border-left: 2px solid $gray;
                        color: $dark;
                        padding-left: 1rem;
                    }

                    .position__job {
                        font-size: 1.5rem;
                        font-weight: 600;
                        color: $dark;
                    }

                    .list__detail {
                        .item__detail {
                            font-size: 1.4rem;
                            margin-bottom: 0.5rem;
                            line-height: 1.5;
                        }
                    }
                }

                .bf-none::before {
                    display: none;
                }
            }
        }
    }
}

/* -------------------------------------------------------------------------- */
/*                                  messages                                  */
/* -------------------------------------------------------------------------- */

.mess__box {
    .mess_detail {
        & .name_job {
            margin-left: 1rem;
            background-color: lightgray;
            font-size: 1.2rem;
            padding: 0.2rem 1rem;
            border-radius: 0.25rem;
        }

        .user_detail {
            padding: 2rem 3rem;
            width: 100%;
            display: inline-block;
            text-decoration: none;

            &:hover {
                background-color: $white-light;
            }

            & .image_user {
                width: 70px;
                height: 70px;
                object-fit: cover;
                border-radius: 100rem;
                overflow: hidden;
            }

            & .detail_user {
                ._name {
                    padding-left: 2rem;
                    @include flex-center(row);

                    .name_user {
                        font-size: 1.6rem;
                        color: $dark;
                    }

                    .name_job {
                        color: $gray;
                        background-color: $light;
                        font-size: 1.2rem;
                        margin-left: 1rem;
                        padding: .3rem;
                        border-radius: .25rem;
                    }
                }

                .mess_user {
                    padding-left: 2rem;

                    span {
                        font-size: 1.4rem;
                        color: $gray-light;
                    }
                }
            }

            .date_mess {
                margin-left: auto;
                font-size: 1rem;
                color: $gray;
                display: inline-block;
            }
        }
    }

    .mess_left {
        overflow-y: scroll;
        height: 70vh;

        &::-webkit-scrollbar {
            width: 10px;
        }

        &::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        &::-webkit-scrollbar-thumb {
            background: $gray-light;
            border-radius: .5rem;
        }
    }

    .mess_right {
        position: relative;

        .scroll_mess {
            overflow-y: scroll;
            height: 60vh;
            padding-bottom: 3rem;

            &::-webkit-scrollbar {
                width: 10px;
            }

            &::-webkit-scrollbar-track {
                background: #f1f1f1;
            }

            &::-webkit-scrollbar-thumb {
                background: $gray-light;
                border-radius: .5rem;
            }
        }

        .form__block {
            & .icon_form_mess {
                display: flex;
                background-color: $white;
                padding: 1rem;

                & input[type=text] {
                    outline: none;
                    border: 1px solid $dark;
                    border-radius: 100rem;
                    width: calc(100% - 6rem);
                    padding: .5rem 2rem;

                    &:focus {
                        border-color: $green;

                        &::placeholder {
                            color: $green;
                        }
                    }
                }
            }
        }
    }
}

.mh-100 {
    min-height: 100vh;
}